<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EmiratesFlightSearchQA">
	<listeners>
		<listener class-name="com.EmiratesflightQA.listeners.MyListeners"/>
	</listeners>
  <test name="FligtSearchTesting">
    <classes>
      <class name="QA.Testing.SearchFlightForDelhiToDubai"/>
      <class name="QA.Testing.SearchFlightForDelhiToAbuDhabi"/>
      <class name="QA.Testing.SearchFlightForBombayToDubai"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
